@model DynamicPrice.Models.Dynamicprice

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Dynamicprice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BoxId" />
            <div class="form-group">
                <label asp-for="BoxName" class="control-label"></label>
                <input asp-for="BoxName" class="form-control" />
                <span asp-validation-for="BoxName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalStock" class="control-label"></label>
                <input asp-for="TotalStock" class="form-control" />
                <span asp-validation-for="TotalStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CashBuyPrice" class="control-label"></label>
                <input asp-for="CashBuyPrice" class="form-control" />
                <span asp-validation-for="CashBuyPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExchangePrice" class="control-label"></label>
                <input asp-for="ExchangePrice" class="form-control" />
                <span asp-validation-for="ExchangePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellPrice" class="control-label"></label>
                <input asp-for="SellPrice" class="form-control" />
                <span asp-validation-for="SellPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="P1sellPrice" class="control-label"></label>
                <input asp-for="P1sellPrice" class="form-control" />
                <span asp-validation-for="P1sellPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="P2sellPrice" class="control-label"></label>
                <input asp-for="P2sellPrice" class="form-control" />
                <span asp-validation-for="P2sellPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="P1Dt" class="control-label"></label>
                <input asp-for="P1Dt" class="form-control" />
                <span asp-validation-for="P1Dt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="P2Dt" class="control-label"></label>
                <input asp-for="P2Dt" class="form-control" />
                <span asp-validation-for="P2Dt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Close</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
