@model DynamicPrice.Models.Dynamicprice

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Dynamicprice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Boxid" />
            <div class="form-group">
                <label asp-for="BoxName" class="control-label"></label>
                <input asp-for="BoxName" class="form-control" />
                <span asp-validation-for="BoxName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellCount" class="control-label"></label>
                <input asp-for="SellCount" class="form-control" />
                <span asp-validation-for="SellCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuyCount" class="control-label"></label>
                <input asp-for="BuyCount" class="form-control" />
                <span asp-validation-for="BuyCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sell" class="control-label"></label>
                <input asp-for="Sell" class="form-control" />
                <span asp-validation-for="Sell" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cashbuyprice" class="control-label"></label>
                <input asp-for="Cashbuyprice" class="form-control" />
                <span asp-validation-for="Cashbuyprice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exchangeprice" class="control-label"></label>
                <input asp-for="Exchangeprice" class="form-control" />
                <span asp-validation-for="Exchangeprice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrevPrice" class="control-label"></label>
                <input asp-for="PrevPrice" class="form-control" />
                <span asp-validation-for="PrevPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datadt" class="control-label"></label>
                <input asp-for="Datadt" class="form-control" />
                <span asp-validation-for="Datadt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Column11" class="control-label"></label>
                <input asp-for="Column11" class="form-control" />
                <span asp-validation-for="Column11" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Close</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
